<?xml version="1.0"?>
<COLLADA xmlns="http://www.collada.org/2005/11/COLLADASchema" version="1.4.1">
  <asset>
    <contributor>
      <author>john doe &lt;johnny@floorplanner.com&gt;</author>
    </contributor>
    <created>2006-06-21T21:23:22Z</created>
    <modified>2006-06-21T21:23:22Z</modified>
    <unit meter="1.00" name="meter"/>
    <up_axis>Z_UP</up_axis>
  </asset>
  <library_materials>
    <material id="walls-mat" name="WallsMaterial">
      <instance_effect url="#walls-fx"/>
    </material>
  </library_materials>
  <library_effects>
    <effect id="walls-fx">
      <profile_COMMON>
        <technique sid="common">
          <phong>
            <emission><color>0 0 0 1</color></emission>
            <ambient><color>0 0 0 1</color></ambient>
            <diffuse><color>0.137255 0.403922 0.870588 1</color></diffuse>
            <specular><color>0.5 0.5 0.5 1</color></specular>
            <shininess><float>16</float></shininess>
            <reflective><color>0 0 0 1</color></reflective>
            <reflectivity><float>0.5</float></reflectivity>
            <transparent><color>0 0 0 1</color></transparent>
            <transparency><float>1</float></transparency>
            <index_of_refraction><float>0</float></index_of_refraction>
          </phong>
        </technique>
      </profile_COMMON>
    </effect>
  </library_effects>
  <library_geometries>
    <geometry id="walls-geom" name="WallsGeometry">
      <mesh>
        <source id="walls-positions" name="position">

          <float_array id="walls-positions-array" count="<%= @vertices.length*3 %>">
            <%= @vertices.collect{|v| [v.x,v.y,v.z].join(' ')}.join(' ') %>
          </float_array>

          <technique_common>
            <accessor count="<%= @vertices.length %>" offset="0" source="#walls-positions-array" stride="3">
              <param name="X" type="float"></param>
              <param name="Y" type="float"></param>
              <param name="Z" type="float"></param>
            </accessor>
          </technique_common>
        </source>
        <source id="walls-normals" name="normal">

          <float_array id="walls-normals-array" count="<%= @faces.length*3 %>">
            <%= @faces.collect{|f| [f.face_normal.x,f.face_normal.y,f.face_normal.z]}.flatten.join(' ') %>
          </float_array>

          <technique_common>
            <accessor count="<%= @faces.length %>" offset="0" source="#walls-normals-array" stride="3">
              <param name="X" type="float"></param>
              <param name="Y" type="float"></param>
              <param name="Z" type="float"></param>
            </accessor>
          </technique_common>
        </source>

        <vertices id="walls-vertices">
          <input semantic="POSITION" source="#walls-positions"/>
        </vertices>

        <triangles count="<%= @faces.length %>">
           <input semantic="VERTEX" source="#walls-vertices" offset="0"/>
           <input semantic="NORMAL" source="#walls-normals" offset="1"/>
           <p>
             <%= @faces.collect{|f| f.vertices.collect{|v| vertices.index(v)}}.flatten.join(' ') %>
           </p>
        </triangles>
      </mesh>
    </geometry>
  </library_geometries>
  <library_visual_scenes>
    <visual_scene id="VisualSceneNode" name="untitled">
      <node id="Walls" name="Walls">
        <rotate sid="rotateZ">0 0 1 0</rotate>
        <rotate sid="rotateY">0 1 0 0</rotate>
        <rotate sid="rotateX">1 0 0 0</rotate>
        <instance_geometry url="#walls-geom">
          <bind_material>
            <technique_common>
              <instance_material symbol="BlueSG" target="#walls-mat"/>
            </technique_common>
          </bind_material>
        </instance_geometry>
      </node>
    </visual_scene>
  </library_visual_scenes>
  <scene>
    <instance_visual_scene url="#VisualSceneNode"/>
  </scene>
</COLLADA>
